In [1]:
import pandas as pd

In [ ]:
K:\DE_Projects\DE_T4.4.2\data/

In [2]:
df1=pd.read_csv('K:/DE_Projects/DE_T4.4.2/data/customers.csv', delimiter=',')
df1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,ffeCAb7AbcB0f07,Dawn,Trevino,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,clintongood@example.org,2021-11-11,https://www.mccarthy.info/
1,2,b687FfC4F1600eC,Dale,Mcknight,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,clairebradshaw@example.org,2021-05-14,http://www.reynolds.com/
2,3,9FF9ACbc69dcF9c,Herbert,Bean,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,johnnybooker@example.org,2021-03-17,https://neal.com/
3,4,b49edDB1295FF6E,Karen,Everett,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,wkhan@example.org,2020-09-23,https://www.powell-bryan.com/
4,5,3dcCbFEB17CCf2E,Angela,Shea,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,reginaldgarner@example.com,2020-09-18,https://www.carrillo.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,67F24BEBAa16d1c,Eduardo,Fuentes,"Pham, Conner and Wade",Kirkfurt,Sierra Leone,820-930-7616,+1-061-779-5511x3267,zacharygalloway@example.net,2020-05-30,https://www.maynard.com/
99996,99997,17b1dbDaB2ad0fB,Marcus,Ferguson,Fletcher-Hodge,Virginiahaven,Comoros,+1-480-464-8646,(015)822-1443x33211,qkane@example.org,2022-04-09,http://www.eaton.com/
99997,99998,c586CFBA6fb9dcC,Marilyn,Benson,Austin Ltd,Sheriville,Mayotte,+1-567-149-3941x67118,361-900-3348,jenny91@example.com,2022-03-05,https://hayes.com/
99998,99999,bb6cb6AC9d0CAf7,Felicia,Robbins,Welch Inc,Stephenschester,Belarus,(381)105-4698,360-905-2308x301,imcneil@example.com,2021-12-29,http://zuniga.com/
99999,100000,FaE5E3c1Ea0dEc2,Jackie,Doyle,Booker-Luna,New Karina,Estonia,(184)132-6303x4566,157.189.4485,emay@example.net,2020-07-11,https://www.walter.com/

In [3]:
df1['Group'] = pd.cut(df1['Index'], bins=10, labels=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])
df1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Group
0,1,ffeCAb7AbcB0f07,Dawn,Trevino,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,clintongood@example.org,2021-11-11,https://www.mccarthy.info/,1
1,2,b687FfC4F1600eC,Dale,Mcknight,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,clairebradshaw@example.org,2021-05-14,http://www.reynolds.com/,1
2,3,9FF9ACbc69dcF9c,Herbert,Bean,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,johnnybooker@example.org,2021-03-17,https://neal.com/,1
3,4,b49edDB1295FF6E,Karen,Everett,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,wkhan@example.org,2020-09-23,https://www.powell-bryan.com/,1
4,5,3dcCbFEB17CCf2E,Angela,Shea,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,reginaldgarner@example.com,2020-09-18,https://www.carrillo.com/,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,67F24BEBAa16d1c,Eduardo,Fuentes,"Pham, Conner and Wade",Kirkfurt,Sierra Leone,820-930-7616,+1-061-779-5511x3267,zacharygalloway@example.net,2020-05-30,https://www.maynard.com/,10
99996,99997,17b1dbDaB2ad0fB,Marcus,Ferguson,Fletcher-Hodge,Virginiahaven,Comoros,+1-480-464-8646,(015)822-1443x33211,qkane@example.org,2022-04-09,http://www.eaton.com/,10
99997,99998,c586CFBA6fb9dcC,Marilyn,Benson,Austin Ltd,Sheriville,Mayotte,+1-567-149-3941x67118,361-900-3348,jenny91@example.com,2022-03-05,https://hayes.com/,10
99998,99999,bb6cb6AC9d0CAf7,Felicia,Robbins,Welch Inc,Stephenschester,Belarus,(381)105-4698,360-905-2308x301,imcneil@example.com,2021-12-29,http://zuniga.com/,10
99999,100000,FaE5E3c1Ea0dEc2,Jackie,Doyle,Booker-Luna,New Karina,Estonia,(184)132-6303x4566,157.189.4485,emay@example.net,2020-07-11,https://www.walter.com/,10

In [4]:
df1.dtypes

Index                   int64
Customer Id            object
First Name             object
Last Name              object
Company                object
City                   object
Country                object
Phone 1                object
Phone 2                object
Email                  object
Subscription Date      object
Website                object
Group                category
dtype: object

In [5]:
df1['Subscription Date'] = pd.to_datetime(df1['Subscription Date'])

In [6]:
df1.dtypes

Index                         int64
Customer Id                  object
First Name                   object
Last Name                    object
Company                      object
City                         object
Country                      object
Phone 1                      object
Phone 2                      object
Email                        object
Subscription Date    datetime64[ns]
Website                      object
Group                      category
dtype: object

In [7]:
df1['year'] =df1['Subscription Date'].dt.year
df1

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website,Group,year
0,1,ffeCAb7AbcB0f07,Dawn,Trevino,Sanchez-Fletcher,Hatfieldshire,Eritrea,274.188.8773x41185,001-215-760-4642x969,clintongood@example.org,2021-11-11,https://www.mccarthy.info/,1,2021
1,2,b687FfC4F1600eC,Dale,Mcknight,Mckay PLC,Robertsonburgh,Botswana,283-236-9529,(189)129-8356x63741,clairebradshaw@example.org,2021-05-14,http://www.reynolds.com/,1,2021
2,3,9FF9ACbc69dcF9c,Herbert,Bean,Marks and Sons,Kimbury,Barbados,8252703789,459-916-7241x0909,johnnybooker@example.org,2021-03-17,https://neal.com/,1,2021
3,4,b49edDB1295FF6E,Karen,Everett,"Kirby, Vaughn and Sanders",Briannaview,Antarctica (the territory South of 60 deg S),425.475.3586,(392)819-9063,wkhan@example.org,2020-09-23,https://www.powell-bryan.com/,1,2020
4,5,3dcCbFEB17CCf2E,Angela,Shea,Lester-Manning,South Brianna,Micronesia,+1-223-666-5313x4530,252-488-3850x692,reginaldgarner@example.com,2020-09-18,https://www.carrillo.com/,1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,67F24BEBAa16d1c,Eduardo,Fuentes,"Pham, Conner and Wade",Kirkfurt,Sierra Leone,820-930-7616,+1-061-779-5511x3267,zacharygalloway@example.net,2020-05-30,https://www.maynard.com/,10,2020
99996,99997,17b1dbDaB2ad0fB,Marcus,Ferguson,Fletcher-Hodge,Virginiahaven,Comoros,+1-480-464-8646,(015)822-1443x33211,qkane@example.org,2022-04-09,http://www.eaton.com/,10,2022
99997,99998,c586CFBA6fb9dcC,Marilyn,Benson,Austin Ltd,Sheriville,Mayotte,+1-567-149-3941x67118,361-900-3348,jenny91@example.com,2022-03-05,https://hayes.com/,10,2022
99998,99999,bb6cb6AC9d0CAf7,Felicia,Robbins,Welch Inc,Stephenschester,Belarus,(381)105-4698,360-905-2308x301,imcneil@example.com,2021-12-29,http://zuniga.com/,10,2021
99999,100000,FaE5E3c1Ea0dEc2,Jackie,Doyle,Booker-Luna,New Karina,Estonia,(184)132-6303x4566,157.189.4485,emay@example.net,2020-07-11,https://www.walter.com/,10,2020

In [8]:
df1.to_csv('K:/DE_Projects/DE_T4.4.2/data/customers_n.csv')

In [9]:
df2=pd.read_csv('K:/DE_Projects/DE_T4.4.2/data/organizations.csv', delimiter=',')
df2

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees
0,1,8cC6B5992C0309c,Acevedo LLC,https://www.donovan.com/,Holy See (Vatican City State),Multi-channeled bottom-line core,2019,Graphic Design / Web Design,7070
1,2,ec094061FeaF7Bc,Walls-Mcdonald,http://arias-willis.net/,Lithuania,Compatible encompassing groupware,2005,Utilities,8156
2,3,DAcC5dbc58946A7,Gregory PLC,http://www.lynch-hoover.net/,Tokelau,Multi-channeled intangible help-desk,2019,Leisure / Travel,6121
3,4,8Dd7beDa37FbeD0,"Byrd, Patterson and Knox",https://www.james-velez.net/,Netherlands,Pre-emptive national function,1982,Furniture,3494
4,5,a3b5c54AEC163e4,Mcdowell-Hopkins,http://fuentes.com/,Mayotte,Cloned bifurcated solution,2016,Online Publishing,36
...,...,...,...,...,...,...,...,...,...
99995,99996,3E5e8e6a60CF9FF,Frey Group,http://haney.com/,Bolivia,Multi-channeled 6thgeneration monitoring,1989,Electrical / Electronic Manufacturing,3215
99996,99997,BdfAa2aE00DaE79,Lloyd-Dyer,https://farmer.org/,Samoa,Seamless value-added encryption,2005,Computer / Network Security,6042
99997,99998,5c3a2EBDeC9B25b,Levine and Sons,http://www.andrade.org/,Congo,Sharable impactful structure,2013,Religious Institutions,6614
99998,99999,c58E390b3dd61a5,Martinez PLC,https://www.glass.biz/,Belarus,Front-line responsive flexibility,2012,Wine / Spirits,9767
99999,100000,14ab658Ad57Fcfd,Esparza Inc,https://thomas.info/,Netherlands Antilles,Customizable secondary adapter,2018,Textiles,8831

In [10]:
df2['Group'] = pd.cut(df2['Index'], bins=10, labels=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])
df2

,Index,Organization Id,Name,Website,Country,Description,Founded,Industry,Number of employees,Group
0,1,8cC6B5992C0309c,Acevedo LLC,https://www.donovan.com/,Holy See (Vatican City State),Multi-channeled bottom-line core,2019,Graphic Design / Web Design,7070,1
1,2,ec094061FeaF7Bc,Walls-Mcdonald,http://arias-willis.net/,Lithuania,Compatible encompassing groupware,2005,Utilities,8156,1
2,3,DAcC5dbc58946A7,Gregory PLC,http://www.lynch-hoover.net/,Tokelau,Multi-channeled intangible help-desk,2019,Leisure / Travel,6121,1
3,4,8Dd7beDa37FbeD0,"Byrd, Patterson and Knox",https://www.james-velez.net/,Netherlands,Pre-emptive national function,1982,Furniture,3494,1
4,5,a3b5c54AEC163e4,Mcdowell-Hopkins,http://fuentes.com/,Mayotte,Cloned bifurcated solution,2016,Online Publishing,36,1
...,...,...,...,...,...,...,...,...,...,...
99995,99996,3E5e8e6a60CF9FF,Frey Group,http://haney.com/,Bolivia,Multi-channeled 6thgeneration monitoring,1989,Electrical / Electronic Manufacturing,3215,10
99996,99997,BdfAa2aE00DaE79,Lloyd-Dyer,https://farmer.org/,Samoa,Seamless value-added encryption,2005,Computer / Network Security,6042,10
99997,99998,5c3a2EBDeC9B25b,Levine and Sons,http://www.andrade.org/,Congo,Sharable impactful structure,2013,Religious Institutions,6614,10
99998,99999,c58E390b3dd61a5,Martinez PLC,https://www.glass.biz/,Belarus,Front-line responsive flexibility,2012,Wine / Spirits,9767,10
99999,100000,14ab658Ad57Fcfd,Esparza Inc,https://thomas.info/,Netherlands Antilles,Customizable secondary adapter,2018,Textiles,8831,10

In [11]:
df2.to_csv('K:/DE_Projects/DE_T4.4.2/data/organizations_n.csv')

In [12]:
df3=pd.read_csv('K:/DE_Projects/DE_T4.4.2/data/people.csv', delimiter=',')
df3

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
0,1,e09c4f4cbfEFaFd,Dawn,Trevino,Male,clintongood@example.org,360-423-5286,1972-01-17,"Teacher, primary school"
1,2,D781D28b845Ab9D,Dale,Mcknight,Male,clairebradshaw@example.org,9062423229,1931-01-31,"Development worker, community"
2,3,eda7EcaF87b2D80,Herbert,Bean,Female,johnnybooker@example.org,001-149-154-0679x1617,2018-02-10,Ceramics designer
3,4,E75ACea5D7AeC3e,Karen,Everett,Female,wkhan@example.org,870.294.7563x20939,1938-06-14,"Civil engineer, consulting"
4,5,9C4Df1246ddf543,Angela,Shea,Male,reginaldgarner@example.com,242.442.2978,1971-11-22,Health and safety adviser
...,...,...,...,...,...,...,...,...,...
99995,99996,eDbebb82Bdf859c,Eduardo,Fuentes,Male,zacharygalloway@example.net,971-408-5795x791,2015-09-02,"Designer, graphic"
99996,99997,78B30216f7Ad5eA,Marcus,Ferguson,Male,qkane@example.org,001-183-966-1623x446,1978-01-30,Cytogeneticist
99997,99998,E0edBf053adCEc1,Marilyn,Benson,Male,jenny91@example.com,3010820886,1939-07-11,Engineering geologist
99998,99999,fA585A02f6A86C5,Felicia,Robbins,Female,imcneil@example.com,(753)522-4673,1942-02-05,Clinical cytogeneticist
99999,100000,FE35edEdE3BaC90,Jackie,Doyle,Male,emay@example.net,357.974.5692x909,1918-05-30,"Teacher, special educational needs"

In [13]:
df3['Group'] = pd.cut(df3['Index'], bins=10, labels=['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'])
df3

,Index,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title,Group
0,1,e09c4f4cbfEFaFd,Dawn,Trevino,Male,clintongood@example.org,360-423-5286,1972-01-17,"Teacher, primary school",1
1,2,D781D28b845Ab9D,Dale,Mcknight,Male,clairebradshaw@example.org,9062423229,1931-01-31,"Development worker, community",1
2,3,eda7EcaF87b2D80,Herbert,Bean,Female,johnnybooker@example.org,001-149-154-0679x1617,2018-02-10,Ceramics designer,1
3,4,E75ACea5D7AeC3e,Karen,Everett,Female,wkhan@example.org,870.294.7563x20939,1938-06-14,"Civil engineer, consulting",1
4,5,9C4Df1246ddf543,Angela,Shea,Male,reginaldgarner@example.com,242.442.2978,1971-11-22,Health and safety adviser,1
...,...,...,...,...,...,...,...,...,...,...
99995,99996,eDbebb82Bdf859c,Eduardo,Fuentes,Male,zacharygalloway@example.net,971-408-5795x791,2015-09-02,"Designer, graphic",10
99996,99997,78B30216f7Ad5eA,Marcus,Ferguson,Male,qkane@example.org,001-183-966-1623x446,1978-01-30,Cytogeneticist,10
99997,99998,E0edBf053adCEc1,Marilyn,Benson,Male,jenny91@example.com,3010820886,1939-07-11,Engineering geologist,10
99998,99999,fA585A02f6A86C5,Felicia,Robbins,Female,imcneil@example.com,(753)522-4673,1942-02-05,Clinical cytogeneticist,10
99999,100000,FE35edEdE3BaC90,Jackie,Doyle,Male,emay@example.net,357.974.5692x909,1918-05-30,"Teacher, special educational needs",10

In [14]:
df3.to_csv('K:/DE_Projects/DE_T4.4.2/data/people_n.csv')